/* ===== Google Font Import - Jost ===== */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --box-background-color: #ffffff;
  --background-color: #f1f5f9;
  --primary-color: #1d3a6d;
  --secondary-color:#EBEBEB;
  --heading-color: #1E3A6D;
  --border-color: #a6a6a8;
  --placeholder-color: #656565;
  --sub-heading-color: #292d32;
  --text-color: #2F2F2F;
  --text-color2: #ffffff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}


.col.wrap_spacing input:not([type="checkbox"])  {
    width: 100%;
}
.dropdown-content.select-dropdown {
    height: 200px; /* Adjust this value as needed */
}
.hotel-item.l2{
    margin-left: 0px !important;
  width: 20% !important;
}
.hotel-item.l1{
    margin-left: 0px !important;
  width: 15% !important;
}
.hotel-item.l4{
    margin-left: 0px !important;
  width: 30% !important;
}
.l4{
  margin-left: 0px !important;
  width:32% !important;

}

.toggle-wrapper {
  position: relative;
  width: 40px !important;
  height: 20px !important;
}

.toggle-wrapper input[type="checkbox"] {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.toggle-slider {
  position: absolute !important;
  cursor: pointer;
  top: 0  !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  width: 18% !important;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 16px !important;
  width: 16px !important;
  left: 2px !important;
  bottom: 2px !important;
  background-color: white;
  transition: 0.4s !important;
  border-radius: 50% !important;
  margin-top: 1px !important;
  border: none !important;
}


.toggle-wrapper input:checked + .toggle-slider {
  background-color: #1E3A6D !important;

}

.toggle-wrapper input:checked + .toggle-slider::before {
  transform: translateX(15px) translateY(4px) !important;
}
input[type="checkbox"].agreement::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2.5px;
    width: 4px;
    height: 9px;
    border-style: solid;
    border-color: white !important;
    border-image: initial;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s;
}
[type="checkbox"]+span:not(.lever)
 {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 18px !important;
    line-height: 18px !important;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



@media (max-width: 1023px) {
  .container{
    width: 100% !important;
  }
  .checkboxes-section{
    margin-top: 20px !important;
  }
  .textarea-row{
    padding: 0px 15px;
    justify-content: center !important;
  }
  .step2{
  padding: 5px 20px !important;
}
 .route_show{
  justify-content: left !important;
}


.hotel-item {
    background-color: #F1F5F9;
    padding: 2px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 90% !important;
}

.hotel-item:last-child,
.hotel-item:first-child,
.last {
    height: 3rem !important;
}

.hotel-item.hotel-counter {
    flex-direction: column !important;
    width: 46% !important;
    height: 5rem !important;
}

.switch2{
  width: 100%;
}
.switch2 div{
    border-radius: 5rem;
    display: flex;
    flex-direction: row !important;
    gap:2px;
    justify-content: space-around !important;
    align-items: center;
    padding:2px 0px;
    cursor: pointer;
    margin-bottom: 0px;
}
.toggle-wrapper{
  width: 20% !important;
}
[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 20px !important;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .box-background-color{
      margin: 1rem 1rem 2rem 1rem;
    }

  .side-bar {
    display: none;
  }
  .input_Labels input[type="checkbox"]{
    display: none !important;
  }
      h5.sub-heading {
        color: var(--heading-color);
        font-weight: bold;
        text-align: left;
        padding: 2rem 0rem 2rem 0rem;
        line-height: 0;
        font-size: 18px;
        margin: 0rem 0 0rem 0;
    }
  .toggle-wrapper input:checked + .toggle-slider::before {
  transform: translateX(15px) translateY(5px) !important;
}


  .box-shadow {
    /* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%); */
    border-radius: 20px;
    margin: 0rem 0rem 0rem 0rem;
    padding: 10px 0px 10px 0px;
    border: 1px solid #ddd;
  }

  .back-btn {
    align-items: center;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    margin: 2rem 1rem 0rem 0rem;
  }
 .switch div{
    background-color: #F1F5F9;
    border-radius: 5rem;
    display: flex;
    gap: 6px;
    justify-content: start;
    align-items: center;
    width: min-content;
    padding: 5px 9px;

  }
  .toggle-wrapper {
    position: relative;
    width: 40px !important;
    height: 20px !important;
}
.toggle-slider::before {
    position: absolute;
    content: "";
    height: 15px !important;
    width: 15px !important;
 
}

  .back-btn i.arrow-left {
    font-size: 14px;
    color: var(--primary-color);
    margin-right: 0.5rem;
  }

  h6.back_button {
    margin-bottom: unset;
  }

  .inquiry_form {
    padding: 0rem 1rem 0rem 1rem;
    margin: 2rem 0rem 2rem 0rem;
  }

  .step2 .row.form_row {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0rem 0.25rem 0rem;
    flex-wrap: wrap;
        gap:20px;
        justify-content: center;
  }
  .inquiry_form .row.form_row {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0rem 0.25rem 0rem;
    flex-wrap: wrap;
        gap:20px;
        justify-content: start;
  }

   h2.main_heading {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 2rem;
  }

  .col.wrap_spacing {
    margin-bottom: 1rem;

  }

  .col.wrap_spacing input:not([type="checkbox"]),
  .col.wrap_spacing select,
  .col.wrap_Spacing,
  .col.wrap_Spacing select {
    width: 100%;
  }

  .col.wrap_Spacing {
    margin-bottom: 10px;
  }
.row .col.s12 {
  width: 95% !important;
  margin-left: 0px  !important;
}
  .form_row input:not([type="checkbox"]), .form_row select {
        border-radius: 10px !important;
        padding: 15px 10px 15px 10px !important;
        color: var(--placeholder-color) !important;
        height: auto !important;
        background-color: #F1F5F9 !important;
        font-size: inherit !important;
        margin: 0 !important;
        border-bottom: none !important;
        transition: none !important;
        line-height: 0rem !important;
        width: 239.6666717529297;
    }

  h6.selct_passengers {
    color: var(--sub-heading-color);
    padding-bottom: 0.45rem;
  }

  input.selected {
    background-color: var(--primary-color);
  }

  input.selected::placeholder {
    border: unset;
    color: var(--text-color2);
  }

  .inquiry_form .row.form_row.flex_direction {
    flex-direction: row;
  }

  .inquiry_form h6 {
    font-weight: bold;
  }

  div#flex_direction {
    display: flex;
    margin-top: 0.75rem;
  }

  .date_disabled {
    opacity: 0.5;
  }

  span.rounded-circles {
    background-color: var(--primary-color);
    /* border: 1px solid var(--border-color); */
    border-radius: 50%;
    color: var(--text-color2);
    padding: 10px 17px 10px 17px;
  }

  .next_btn {
    padding: 1rem 0rem 1rem 0rem;
    text-align: right;
    width: 100%;
    display: flex;
  }

  .next_btn a,
  .next_btn button {
        border: none;
        background-color: var(--primary-color);
        border-radius: 7px;
        color: var(--text-color2);
        padding: 5px 40px 5px 40px;
        text-decoration: none;
        width: 100%;
        display: block;
        text-align: center;
  }

  .next_btn a.p_btn {
    border: 2px solid var(--primary-color);
    background-color: var(--box-background-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 5px 40px 5px 40px;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .next_btn a:hover {
    color: var(--text-color2);
  }
  .hotel-checkbox{
    gap: 20px;
    margin: 5px !important;
  }
  .next_btn a.p_btn:hover {
    color: var(--primary-color);
  }

  /* Radio Button */
  .wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 200px;
    /* width: 400px; */
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    /* padding: 20px 15px; */
    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
  }
  .wrapper .option {
    background: #fff;
    height: 100%;
    width: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    /*border: 2px solid lightgrey;*/
    transition: all 0.3s ease;
    border: 1px solid #656565;
    box-shadow: 0 1px 0 0 #4caf50;
  }

  label.option.option-1,
  label.option.option-2,
  label.option.option-3,
  label.option.option-4,
  label.option.option-5 {
    margin-bottom: 10px;
  }

  label.option.option-1 {
    margin-left: unset;
  }

  label.option.option-5 {
    margin-right: unset;
  }

  .wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"] {
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3,
  #option-4:checked:checked ~ .option-4,
  #option-5:checked:checked ~ .option-5 {
    border-color: var(--primary-color);
    background: var(--primary-color);
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot,
  #option-3:checked:checked ~ .option-3 .dot,
  #option-4:checked:checked ~ .option-4 .dot,
  #option-5:checked:checked ~ .option-5 .dot {
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before,
  #option-3:checked:checked ~ .option-3 .dot::before,
  #option-4:checked:checked ~ .option-4 .dot::before,
  #option-5:checked:checked ~ .option-5 .dot::before {
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span {
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span,
  #option-4:checked:checked ~ .option-4 span,
  #option-5:checked:checked ~ .option-5 span {
    color: #fff;
  }
  
    .inquiry_form .row.form_row {
        display: flex;
        flex-direction: row;
        padding: 0rem 0rem 0.25rem 0rem;
        margin-bottom: unset;
        flex-wrap: wrap;
        /* flex-direction: row; */
    }
    
     h2.main_heading {
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        color: var(--heading-color);
        margin-bottom: 2rem;
    }
}

@media (min-width: 1024px) {
  body {
    /* min-height: 100vh; */
    background-color: var(--background-color) !important;
  } .textarea-row{
    padding: 0px 30px;
    justify-content: start !important;
  }
  .hotel-checkbox{
    gap: 20px;
    margin: 15px !important;
  }

  
.hotel-item.last{
  height: 3.5rem !important;

}

  .container {
    max-width: 1140px;
    margin: 45px auto;
  }

  .top-padding {
    padding-top: 1.5rem;
  }

  .side-bar {
    background-color: var(--secondary-color);
    color: #161C24;
    padding: 0rem 0rem 4rem 0rem;
    margin: 0px 0px 0px 0px;
    border-radius: 30px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%);
    width: 40.33%;
  }

  .column_Flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch !important;
  }

  .logo {
    text-align: center;
  }

  .personal-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem 0rem 0rem;
  }

  .personal-information img,
  .additional-information img {
    width: 60px;
  }

  .personal-information h6,
  .additional-information h6 {
    font-size: 18px;
    font-weight: 400;
  }

  .additional-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem 0rem 0rem;
  }

  .additional-information.opacity.disabled {
    opacity: 0.5;
  }

  .additional-information.opacity.enabled {
    opacity: 1;
  }

  .personal-information h6,
  .additional-information h6 {
    color: #161C24;
    margin-left: 0.5rem;
  }

  .progress_bar {
    padding: 2rem 2rem 0rem 2rem;
  }

  .progress_bar h6 {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.25rem;
  }

  .side-bar .vr{
    height: 2vh;
    width: 20px;
    border-left: 3px dotted #BFCADE;
    margin-left: 5rem;
    padding: 2rem 0rem 0rem 2rem;
    margin-top: 0.5rem;
  }

  #myProgress {
    width: 100%;
    background-color: var(--border-color);
    border-radius: 20px;
  }
  .partner{
    display: flex;
    justify-content: center;
    padding-top: 25px;

  }
  .custom-card{
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 95%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;

  }
  .counter-container{
    width: 25% !important;
  }
  .custom-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px dashed #7F98C466;
  }
  .custom-card .vr{
    height: 4vh;
    width: 1px;
    border-left:1px solid #7F98C466;
    margin-left: 1rem;
    padding: 0rem 0rem 0rem 1rem;
    margin-top: 1rem;
  }
  #myBar {
    width: 50%;
    height: 10px;
    background-color: var(--heading-color);
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 20px 0px 0px 20px;
  }

  .progress_bar.progress_bar.additional #myBar {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }

  .box-background-color {
    background-color: var(--box-background-color);
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%);
    border-radius: 20px;
    margin: 1rem 1rem 1rem 1rem;
    padding:10px 40px
    /* width: 66.33%; */
  }
 
  .box-shadow {
    /* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%); */
    border-radius: 20px;
    margin: 1rem 0rem 1rem 1rem;
    padding:10px 0px 15px 0px;
    border: 1px solid #ddd;
    height: 95%;
  }

  .back-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 1rem 0rem 0rem;
  }

  .back-btn i.arrow-left {
    margin-right: 0.5rem;
    font-size: 14px;
    color: var(--primary-color);
  }

  .back-btn h6 {
    margin-right: 0.5rem;
    margin-bottom: 0;
    color: var(--primary-color);
  }

  h2.main_heading {
    color: var(--heading-color);
    font-weight: bold;
    text-align: center;
    padding: 2rem 0rem 1.5rem 0rem;
    line-height: 0;
    font-size: 35px;    
    margin: 0rem 0 0rem 0;
  }
  h5.sub-heading{
    color: var(--heading-color);
    font-weight: bold;
    text-align: left;
    padding: 20px 20px;
    line-height: 0;
    font-size: 18px;    
    margin: 5px 0px;
  }

  .form_row {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 1.25rem;
    flex-wrap: wrap;
  }
  .row{
    margin-bottom: 5px;
  }

  .form_row input:not([type="checkbox"]),
  .form_row select {
    border-radius: 10px !important;
    padding: 10px 10px 10px 10px !important;
    color: var(--placeholder-color) !important;
    height: auto !important;
    background-color: #F1F5F9 !important;
    font-size: 12px !important;
    margin: 0 !important;
    border-bottom: none !important;
    transition: none !important;
    line-height: 18px !important;
    width: 239.6666717529297;

  }

  .form_Row {
    padding: 0rem 2rem 0rem 2rem;
  }

  .select-wrapper .caret {
    position: absolute;
    right: 20px !important;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
    fill: rgba(0, 0, 0, 0.87);
}

  .form_row h6.selct_passengers {
    color: var(--sub-heading-color);
  }

  .col.wrap_spacing input:not([type="checkbox"]),
  .col.wrap_spacing select {
    width:168px;
  }

  .col.wrap_Spacing {
    width: 100%;
    display: inline-grid;
  }

  .col.wrap_Spacing select {
    width: 100%;
  }

  h6.selct_passengers {
    font-size: 16px;
    font-weight: 500;
    padding-left: 0px;
    margin-left: 0px;
  }

  input.selected {
    background-color: var(--primary-color);
  }

  input.selected::placeholder {
    border: unset;
    color: var(--text-color2);
  }

  .row.form_row.form_Btn {
    justify-content: end;
  }

  .next_btn {
    padding: 1rem 0rem 1rem 0rem;
    text-align: right;
  }

  .next_btn a,
  .next_btn button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--text-color2);
    padding: 5px 40px 5px 40px;
    text-decoration: none;
  }

  .next_btn a.p_btn {
    border: 2px solid var(--primary-color);
    background-color: var(--box-background-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 5px 40px 5px 40px;
    margin-right: 10px;
  }

  .inquiry_form h6 {
    font-weight: bold;
  }

  .next_btn a:hover {
    color: var(--text-color2);
  }

  .next_btn a.p_btn:hover {
    color: var(--primary-color);
  }

  .col.round_circle {
    margin-top: 0.35rem;
  }

  div#flex_direction {
    display: flex;
    margin-top: 0.75rem;
  }

  .date_disabled {
    opacity: 0.5;
  }

  span.rounded-circles {
    background-color: var(--primary-color);
    /* border: 1px solid var(--border-color); */
    border-radius: 50%;
    color: var(--text-color2);
    padding: 10px 17px 10px 17px;
  }

  /* .row.form_row.choose_nights {
        margin-top: 0.5rem;
    } */

  .col.text-center.wrap_spacing span.active-state-active {
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--text-color2);
    padding: 10px 70px 10px 70px;
  }

  .col.text-center.wrap_spacing span.active-state-border {
    border: 1px solid var(--border-color);
    border-radius: 7px;
    color: var(--sub-heading-color);
    padding: 10px 70px 10px 70px;
  }

  .wrap_spacing.top {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .arrival_date {
    display: flex;
    justify-content: space-between;
  }

  .arrival_date .month_year {
    color: var(--heading-color);
  }

  /* Radio Button */
  .wrapper {
    display: flex;
    background: #fff;
    height: 40px;
    /* width: 400px; */
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    flex-wrap: inherit;
    /* padding: 20px 15px; */
    /* box-shadow: 5px 5px 30px rgb(0 0 0 / 20%); */
  }
  .wrapper .option {
    background: #fff;
    height: 100%;
    width: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 9px;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #656565;
    box-shadow: 0 1px 0 0 #4caf50;
    transition: all 0.3s ease;
  }

  label.option.option-1 {
    margin-left: unset;
  }

  label.option.option-5 {
    margin-right: unset;
  }

  .wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"] {
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3,
  #option-4:checked:checked ~ .option-4,
  #option-5:checked:checked ~ .option-5 {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot,
  #option-3:checked:checked ~ .option-3 .dot,
  #option-4:checked:checked ~ .option-4 .dot,
  #option-5:checked:checked ~ .option-5 .dot {
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before,
  #option-3:checked:checked ~ .option-3 .dot::before,
  #option-4:checked:checked ~ .option-4 .dot::before,
  #option-5:checked:checked ~ .option-5 .dot::before {
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span {
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span,
  #option-4:checked:checked ~ .option-4 span,
  #option-5:checked:checked ~ .option-5 span {
    color: #fff;
  }
  
  .next_btn a, .next_btn button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--text-color2);
    padding: 13px 50px 13px 50px;
    text-decoration: none;
}
}

.form_row .col{
      float: none;
    box-sizing: inherit;
    min-height: auto;
}

@media (min-width: 1024px) {
  .container{
    width: 100% !important;
  }

    .inquiry_form h2.main_heading {
    color: var(--heading-color);
    font-weight: bold;
    text-align: center;
    padding: 3.5rem 0rem 3.5rem 0rem;
    line-height: 0;
    font-size: 35px;
    font-weight: 600;
    margin: 0rem 0 0rem 0;
}
.col-lg-box{
  width: 65% !important;
}

label.option.option-1 {
    margin-left: 0.75rem !important;
}

    .form_row {
        display: flex;
        justify-content: space-between;
        /* padding: 0rem 2rem 0rem 1.25rem; */
        gap: 10px;
    }

    .col.wrap_spacing input:not([type="checkbox"]), .col.wrap_spacing select  {
        width: 90%;
    }

    h6.selct_passengers {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: unset;
        padding-top: 1rem;
    }

    .top-padding {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .next_btn a, .next_btn button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--text-color2);
    padding: 8px 25px 8px 25px;
    text-decoration: none;
}
.route_show{
  display: flex;
  justify-content:space-between ;
  gap: 27px !important;
}
    .row .col.m8 {
      margin-left: 0px;
    }
    
}
@media (max-width:390px) {
  .counter-container {
    background-color: #f1f5f9;
    border-radius: 10px;
    padding: 8px 14px;
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 65% !important;
    /* min-width: 30%; */
    /* max-width: 19%; */
}
  
}

.side-bar {
    background-color: var(--secondary-color);
    color: #161C24;
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin: 15px 0px 0px 0px;
    border-radius: 30px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 7%);
    width: 33.33%;
    height: 100%;
}

h6.selct_passengers {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: unset;
    /* padding-top: 1rem; */
}

.invalid-feedback, .error {
    color: red;
    font-size: 14px;
}

.form_Select {
    flex-direction: column;
}

.form_Select .wrapper_Select input {
    width: 100%;
}

.night_Spacing {
    margin-bottom: 20px;
}

.wrapper_Select {
    padding-right: 0px !important;
}

.form_Button {
    justify-content: end;
}

.wrap_datePicker .datepicker-calendar-container {
    padding: 5px;
}

.wrap_datePicker .selects-container .select-month input {
    border: none !important;
    background: transparent !important;
    width: 100px;
    padding-right: unset !important;
}

.wrap_datePicker .selects-container .select-year input {
    border: none !important;
    background: transparent !important;
    width: 60px;
    padding-left: unset !important;
}

.wrap_hotel_Type h6 {
    margin-left: 0.55rem;
}

.wrap_hotel_Type {
    padding-top: 1rem;
}

.input_Labels {
    margin-bottom: 0.35rem;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  opacity: 1;
  position: relative;
  left: 0;
  width: min-content;
}
 input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2.5px;
  width: 4px;
  height: 9px;
  border: solid #1E3A6D; /* same as switch bg */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease;
}
.row .col{
  padding: 0;
  margin: 0;
}
.row .col.m3{
  margin-left: 0;
}
.row .col.m4{
  display: inline-grid;
}
/* Checked state */
 input[type="checkbox"]:checked {
  background-color: white;
}

/* Show tick when checked */
 input[type="checkbox"]:checked::after {
  opacity: 1;
}
.switch2 div{
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    gap:2px;
    justify-content: center;
    align-items: center;
    padding:5px 0px;
    cursor: pointer;
}
.step2{
  padding: 20px 5px;
}
 .switch div{
 background-color: #F1F5F9;
    border-radius: 5rem;
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
    width: min-content;
    padding: 5px 15px;
}

label.wrap_Labels {
    font-weight: 400;
    font-size: 12px;
    color: #292d32;
}

.passenger-wrapper {
  display: flex;
  flex-wrap: wrap;
gap:15px;
  padding: 0px 8px;
  background: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}


.counter-container {
    background-color: #f1f5f9;
    border-radius: 10px;
    padding: 8px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 30%;
}

.counter-label {
  color: #1e3a6d;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

.counter-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-btn {
  background-color: #e2e8f0;
  border: none;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #1e3a6d;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.counter-btn:hover {
  background-color: #cbd5e1;
}

.counter-value {
  font-size: 14px;
  font-weight: bold;
  color: #1e3a6d;
  min-width: 20px;
  text-align: center;
}

.next-btn {
  background-color: #1e3a6d;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.next-btn:hover {
  background-color: #162c53;
}

#inquiry_phone{
  padding-left:89px !important;
}

.text-danger{color:red;}

.hotel_section {
  margin-bottom: 20px;
}

.hotel-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #1d2b4f;
}

.hotel-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  flex-wrap: wrap;
}

.hotel-item {
  background-color: #F1F5F9;
  padding: 10px 15px !important;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%  !important;
  height: 3rem !important;
}


.hotel-select {
  width: 100%;
  padding: 0px;
  border: none;
  border-radius: 8px;
  background: white;
  font-size: 12px;
}

.counter-label {
  font-size: 12px;
  color: #2a3b5f;
  margin-bottom: 0px;
}

.counter {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0px 1px;
}

.counter button {
  background: #dbe5f5;
  border: none;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 6px;
  cursor: pointer;
  color: #2a3b5f;
}

.counter-input {
  
  width: 25px !important;
  text-align: center;
  font-weight: bold;
  font-size: 12px !important;
  height: 2.5rem !important;
  color: #2a3b5f;
  background: transparent;
  border: none !important;
  margin: 0 5px;
}

.agreement{
width: 20px;
height: 20px;
border-radius: 4px;
opacity: 1;
border: 1px solid #292d32ab !important;
border-radius: 2px !important;
}
.agreement:checked{

    background-color: #24B3BA !important;
    border: 1px solid #24B3BA  !important;
    color: #fff;
}
.agreement::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2.5px;
  width: 4px;
  height: 9px;
  border: solid white; /* same as switch bg */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 1;
  transition: all 0.2s ease;
}
/* Select 2 */

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}
.select2 {
    /*width: calc(100% - 45px) !important;*/
    width: 100% !important;
    /*margin-left: 45px;*/
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 4px 0 0 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}




.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    /* height: 46px; */
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #a6a6a8 1px !important;
    min-height: 35px !important;
    border-radius: 7px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    height: 30px !important;
    width: 100% !important;
    border: none !important;
    outline:none !important;
    box-shadow: none !important;
}

.select2-container--default .select2-selection--multiple input {
    margin: 0
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    color: #fff;
    margin-top: 8px;
    padding: 3px 10px;
    background-color: #42A5F5
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
    margin-right: 5px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
    padding-left: 0
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: rgb(0, 0, 0) transparent transparent;
    border-width: 9px 4px 0 4px;
    margin-left: 2px;
}

.select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26)
}

.select2-results__option {
    padding: 1rem
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-right: none;
    border-left: none
}

.select2-container--default .select2-results__option--highlighted[aria-selected], div.tagsinput span.tag {
    background-color: #42A5F5
}

.select2  + label {
    position: absolute;
    top: -26px;
    font-size: 0.8rem;
}